h1 {
    text-align: center;
}
h3 {
    margin-top: 20px;
    text-align: center;
}

img[src$="svg"] {
    width: 32px;
    height: 32px;
}
.alarm-list {
    text-align: center;
    margin: 10px 0;
}
.alarm-list .list-group a.has-icon {
    margin: 10px;
    padding:10px;
}
.btn-static {
    width: 100px;
    margin-bottom: 5px;
}
.form-row {

}
.slider-container {
    display: flex;
    width: 100%;
}
.slider-container input.custom-range {
    flex: 1;
}
.slider-container span{
    text-align: center;
    width: 50px;
}