{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <p><label for="id_name">Name:</label> <input type="text" name="name" value="{{ object.name }}" id="id_name" required="" maxlength="255"></p>
        <p><label for="id_enabled">Enabled:</label> <input type="checkbox" name="enabled" id="id_enabled"{{ object.enabled|yesno:" checked," }}></p>

        <p><label for="time-picker">Time:</label> <input id="time-picker" autocomplete="off" value="{{ time_val }}" /></p>
        <p><label for="id_dow">Day of week:</label>
            <select id="id_dow" multiple>
                {%  for val, day, selected in dow_dict %}
                    <option value="{{ val }}"{{ selected|yesno:' selected="selected",' }}>{{ day }}</option>
                {% endfor %}
            </select>
        </p>
        <p><label for="id_day">Day:</label> <input type="text" name="day" id="id_day" required="" maxlength="255" value="{{ object.day }}"></p>
        <p><label for="id_month">Month:</label> <input type="text" name="month" id="id_month" required="" maxlength="255" value="{{ object.month }}"></p>

        <input type="hidden" name="minute" id="id_minute" required="" maxlength="255">
        <input type="hidden" name="hour" id="id_hour" required="" maxlength="255">
        <input type="hidden" name="day_of_week" id="id_day_of_week" required="" maxlength="255">
        <input class="btn btn-primary btn-block" type="submit" value="Save">
    </form>
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" href="{% static "js/bootstrap-clockpicker/bootstrap-clockpicker.min.css" %}">
    <script type="application/javascript" src="{% static "js/bootstrap-clockpicker/bootstrap-clockpicker.min.js" %}"></script>
    <script type="application/javascript">
        // Update minute and hour inputs when timepicker is changed
        $tp = $('#time-picker');
        $tp.clockpicker({ autoclose: true });
        $tp.change(() => {
            const hour_minute = $tp.val().split(":");
            $('#id_minute').val(hour_minute[0]);
            $('#id_hour').val(hour_minute[1]);
        });

        // Update day of week input
        $dow = $('#id_dow');
        $dow.change(() => {
            let dow = [];
            $dow.find("option:selected").each((i, el) => {
                dow.push($(el).val());
            });
            $('#id_day_of_week').val(dow.join(","));
        })
    </script>
{% endblock %}