{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <p>Tijd: {{ object.human_readable_time }}</p>
    <p>Enabled: {{ object.enabled }}</p>
    <p>Crontime: {{ crontime }}</p>
    <p>Cronjob: {{ object.cronjob }}</p>
    <a href="{% url 'alarm-update' object.pk %}"><img src="{% static "css/open-iconic-master/svg/pencil.svg" %}" alt="Edit"></a>
    <a href="{% url 'alarm-delete' object.pk %}"><img src="{% static "css/open-iconic-master/svg/trash.svg" %}" alt="Delete"></a>
{% endblock %}