{%  extends 'base.html' %}

{% block content %}
    {%  for color in colors %}
        <a class="btn btn-primary btn-block set-color-btn" data-color="{{ color }}">{{ color }}</a>
    {% endfor %}

    <form class="form-group">
      <label class="sr-only" for="inlineFormInput">Red</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputR" value="255">
      <label class="sr-only" for="inlineFormInput">Green</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputG" value="255">
      <label class="sr-only" for="inlineFormInput">Blue</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputB" value="255">
      <a class="btn btn-primary set-variable-color-btn">Set</a>
    </form>


    {% if alarms %}
        <ul>
        {% for alarm in alarms %}
            <li><a href="/polls/{{ alarm.id }}/">{{ alarm.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No alarms are set.</p>
    {% endif %}
{% endblock %}


{% block javascript %}
<script type="application/javascript">
    $(".set-color-btn").click((e) => {
        const colors = e.currentTarget.dataset["color"].split(",")
        $.get(`/show_color?r=${colors[0]}&g=${colors[1]}&b=${colors[2]}`, () => {
            console.log(colors, "done")
        })
    })

    $(".set-variable-color-btn").click((e) => {
        const colors = [$('#inlineFormInputR').val(), $('#inlineFormInputG').val(), $('#inlineFormInputB').val()]
        $.get(`/show_color?r=${colors[0]}&g=${colors[1]}&b=${colors[2]}`, () => {
            console.log(colors, "done")
        })
    })
</script>
{% endblock %}