{%  extends 'base.html' %}
{% load static %}
{% block content %}
    <h3>Set alarms</h3>
    {% if alarms %}
        <div class="alarm-list">
            <ul class="list-group">
            {% for alarm in alarms %}
                <li class="list-group-item {{ alarm.enabled|yesno:"list-group-item-success,list-group-item-danger" }}">
                    <a href="{% url 'alarm-detail' alarm.id %}">{{ alarm.name }}, om {{ alarm.human_readable_time }}</a>
                    <a class="has-icon" href="{% url 'alarm-update' alarm.id %}"><img src="{% static "css/open-iconic-master/svg/pencil.svg" %}" alt="Edit"></a>
                    <a class="has-icon" href="{% url 'alarm-delete' alarm.id %}"><img src="{% static "css/open-iconic-master/svg/trash.svg" %}" alt="Delete"></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No alarms are set.</p>
    {% endif %}
    <a class="btn btn-primary btn-block" href="{% url 'alarm-create' %}">Create new alarm</a>
    <a class="btn btn-primary btn-block test-alarm">Test alarm scripts</a>
    <a class="btn btn-primary btn-block stop-alarm">Stop test alarm scripts</a>

    <h3>Show clock</h3>
    <div class="" role="group">
        <a class="btn btn-primary btn-block" id="start_clock">Start</a>
        <a class="btn btn-primary btn-block" id="stop_clock">Stop</a>
    </div>

    <h3>Set color</h3>
    <div class="" role="group">
        {%  for color in colors %}
            <a
                class="btn btn-primary btn-block set-color-btn"
                style="background-color: rgb({{ color }}); border-color: rgb({{  color }});"
                data-color="{{ color }}"
            >{{ color }}</a>
        {% endfor %}
    </div>

    <h3>Transition color</h3>
    <div class="" role="group">
        {%  for color in colors %}
            <a
                class="btn btn-primary btn-block transition-color-btn"
                style="background-color: rgb({{ color }}); border-color: rgb({{  color }});"
                data-color="{{ color }}"
            >{{ color }}</a>
        {% endfor %}
    </div>

    <h3>Set/Transition variable</h3>
    <form class="form-group">
      <label class="sr-only" for="inlineFormInput">Red (0-255)</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputR" value="255">
      <label class="sr-only" for="inlineFormInput">Green (0-255)</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputG" value="255">
      <label class="sr-only" for="inlineFormInput">Blue (0-255)</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputB" value="255">
      <label class="sr-only" for="inlineFormInput">Steps (n)</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputSteps" value="100">
      <label class="sr-only" for="inlineFormInput">Timestep (ms)</label>
      <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInputTimestep" value="10">
      <a class="btn btn-primary btn-block set-variable-color-btn">Set</a>
      <a class="btn btn-primary btn-block transition-variable-color-btn">Transition</a>
    </form>
{% endblock %}


{% block javascript %}
<script type="application/javascript">
    // Color transitions
    const steps = 100;
    const timestep = 20;
    $(".transition-color-btn").click((e) => {
        const colors = e.currentTarget.dataset["color"].split(",");
        $.post(`/transition_color`,
            {
                "r": colors[0],
                "g": colors[1],
                "b": colors[2],
                "steps": steps,
                "timestep": timestep,
            }, () => {
            console.log(colors, "done");
        })
    });

    $(".transition-variable-color-btn").click((e) => {
        const colors = [$('#inlineFormInputR').val(), $('#inlineFormInputG').val(), $('#inlineFormInputB').val()];
        const _steps = $('#inlineFormInputSteps').val();
        const _timestep = $('#inlineFormInputTimestep').val();
        $.post(`/transition_color`,
            {
                "r": colors[0],
                "g": colors[1],
                "b": colors[2],
                "steps": _steps,
                "timestep": _timestep,
            }, () => {
            console.log(colors, "done");
        })
    });

    // Color set
    $(".set-color-btn").click((e) => {
        const colors = e.currentTarget.dataset["color"].split(",");
        $.post(`/show_color`,
            {
                "r": colors[0],
                "g": colors[1],
                "b": colors[2],
            }, () => {
            console.log(colors, "done");
        })
    });

    $(".set-variable-color-btn").click((e) => {
        const colors = [$('#inlineFormInputR').val(), $('#inlineFormInputG').val(), $('#inlineFormInputB').val()];
        $.post(`/show_color`,
            {
                "r": colors[0],
                "g": colors[1],
                "b": colors[2],
            }, () => {
            console.log(colors, "done");
        })
    });

    // Clock
    $("#start_clock").click(() => {
        $.post("/show_clock", {"action": "start"}, () => {
            console.log("done");
        })
    });
    $("#stop_clock").click(() => {
        $.post("/show_clock", {"action": "stop"}, () => {
            console.log("done");
        })
    });

    // Alarm
    $('.test-alarm').click(() => {
        $.post("/execute_wake_up_scripts", {"action": "start"}, () => {
            console.log("done")
        })
    })
    $('.stop-alarm').click(() => {
        $.post("/execute_wake_up_scripts", {"action": "stop"}, () => {
            console.log("done")
        })
    })

</script>
{% endblock %}